.vscode/
*.zip
datasets/
*pycache*
*dump*
*.DS_Store
config_test
mypy
dataset/
*_bak.py
result/
kouseipython/
logs/
*.pt
test.*
testcode/
vis/
train_checkpoints/
*data_pkl*
kousei-v*
kousei-mask-*
config_*
run_*
testdata/
pattern/
*.pth