einops
loguru==0.6.0
matplotlib==3.8.0
numpy
Pillow
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
torch
torchvision
tqdm==4.62.3
yacs==0.1.8
opencv-python
imageio
timm==0.6.13
OpenEXR
colour-science
bs4
opencolorio
sk-video
moviepy
plyfile
open3d==0.16.1
easydict==1.9.0
# pandas
# pytorch-lightning==1.2.9
# kornia==0.8.1
# hydra-core==1.1.0
# albumentations==0.5.2